
/* fonts  */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
 font-weight: bold;

}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: lighter;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  direction: ltr;
}

.videos::before {
  clip-path: polygon(0 0, 40% 0%, 40% 100%, 0 100%) !important;
}
