/* Arabic CSS Styles  */

/* fonts */
@font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo/Cairo-Regular.ttf");
  font-weight: normal;
}
/* @font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo/Cairo-SemiBold.ttf");
  font-weight: bold;
} */
@font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo/Cairo-Bold.ttf");
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css?family=Cairo:400,600,700&display=swap&subset=arabic");

html {
  font-family: "Cairo", sans-serif !important;
  text-align: right;
  font-weight: normal;
  direction: rtl ;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  font-family: "Cairo", sans-serif !important;
  text-align: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}
p,
span {
  font-weight: normal;
}

.dropdown-toggle::after {
  margin-right: .255em;
  margin-left: 0;
}
.header .dropdown-lang .dropdown-menu {
  left: 0;
  right: unset;
}
.dropdown-menu  {
  text-align: right;
}

.main-slider .carousel-content .h1, 
.main-slider .carousel-content .h2, 
.main-slider .carousel-content p { 
  /* text-align: center !important; */
}
.btn .hover {
  direction: ltr !important;
}

 

.que .que-acc .m-acc .acc-header i { 
  transform: rotate(180deg) translateY(7px);
}

.header .nav-layers .nav-top .nav-top-links .nav-item .nav-link:not(:last-child) {
  border-right: none;
  border-left: 1px solid #E7ECEF;
}

.header .nav-layers .nav-top .social-icons-link:not(:last-child) {
  border-right: none;
  border-left: 1px solid #E7ECEF;
}